*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
:root {
    --color1:  rgb(199, 121, 208);
    --color2: rgb(75, 192, 200);
    --height: 100vh;
}
body{
    font-family: sans-serif;
    font-size: 16px;
}

/* Header */

header {
    background: linear-gradient(60deg, rgb(254, 172, 94), rgb(199, 121, 208), rgb(75, 192, 200));
    position: fixed;
    width: 100%;
    z-index: 1;
}

header nav .cont-nav-header {
    display: flex;
    justify-content: flex-end;
    margin: 0px 80px;
    gap: 20px;
}

.cont-nav-header li {
    list-style: none;
    padding: 30px;
}

.cont-nav-header a {
    text-decoration: none;
    color: rgb(34, 33, 33);
    text-transform: uppercase;
}

header nav ul li a:active {
    box-shadow: 0 0 15px 4px var(--color2);
}

.nav-link :hover {
    color: white;
    border-bottom: 2px solid var(--color2);
    padding-bottom: 10px;
    font-weight: bold;
}

header nav ul li a span:hover {
    font-weight: bold;
    color: gray;
    border: 1px solid var(--color1);
}

header nav ul li a span {
    background-color: rgb(250, 250, 240);
    border-radius: 50px;
    padding: 15px;
}

/* Introduction section*/

.intro-section {
    min-height: var(--height);
    padding-top: 35px;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    box-shadow: inset 10px 10px 120px 1px var(--color2);
}

.intro-items {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 380px;
}

.intro-items h1 {
    font-family: 'Tangerine', 'cursive', 'serif';
    font-size: 500%;
    color: var(--color1);
    text-shadow: 3px 3px 4px var(--color2);
}

.intro-items h1:hover {
    color: var(--color2);
    text-shadow: 3px 3px 4px var(--color1);
}

.intro-items h1 span {
    font-family: serif;
    font-size: 28px;
    color: black;
    text-shadow: none;
}

.cont-photo {
    position: relative;
}
.cont-photo img {
    width: 350px;
    height: 400px;
    border-radius: 15px;
}

.cont-photo::after {
    width: 350px;
    height: 400px;
    border-radius: 15px;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(60deg, rgb(254, 172, 94), rgb(199, 121, 208), rgb(75, 192, 200));
    content: "";
    z-index: -1;
    filter: blur(30px);
}

.intro-items a {
    text-decoration: none;
    border-radius: 20px;
    border: 1px solid var(--color2);
    padding: 10px;
    margin: 15px 0px;
    width: 150px;
    text-align: center;
    color: white;
    background-color: var(--color1);
    position: relative;
}

.intro-items a::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    border-radius: 20px;
    transform: translateY(7px);
    background-color: var(--color1);
}

.intro-items a:active{
    transform: translateY(5px);
}

.intro-items a:active::before{
    transform: translateY(0);
}

.intro-items a:hover {
    color: white;
    font-weight: bold;
}

/* knowledge section */

.knowledge-section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    background-image: url(assets/background-aside-image2-jpg.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.cont-knowledge-info {
    text-align: center;
    margin-top: 60px;
}

.cont-knowledge-info h2 {
    padding: 15px;
    font-size: 180%;
}

.cont-knowledge-items {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.cont-knowledge-items div:hover:nth-child(even){
    border: none;
    box-shadow: inset 0px 0px 12px 4px var(--color1);
    transform: scale(1.08);
    transition: 0.3s;
}

.cont-knowledge-items div:hover:nth-child(odd){
    border: none;
    box-shadow: inset 0px 0px 12px 4px var(--color2);
    transform: scale(1.08);
    transition: 0.3s;
}


.skill-item {
    height: 170px;   
    width: 150px;
    border: 1px solid var(--color1);
    background-color: white;
    padding: 20px;
    gap: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skill-item img {
    height: 70%;
    width: 70%;
}

.skill-title {
    text-align: center;
    margin: 15px 0px;
}

/* quote section */

.quote-section {
    background-image: url(assets/background-quote.jpg);
    min-height: 80vh;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: darken;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

blockquote {
    width: 70%;
    text-align: center;
    padding: 35px;
}

blockquote p {
    margin-bottom: 40px;
    font-family: 'Dosis', sans-serif;
    font-size: 250%;
    color: rgb(250, 250, 240);
}

cite {
    color: rgb(250, 250, 240);
    text-shadow: 3px 3px 4px var(--color2);
}

/* projects section */

.projects-section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(24, 24, 44);
    color: white;
    box-shadow: inset 10px 10px 123px 1px var(--color1);
    padding-bottom: 100px;
}

.cont-projects-info {
    text-align: center;
    margin-top: 5%;
}

.cont-projects-info h2 {
    padding: 20px;
    font-size: 200%;
}

.cont-projects-info p {
    padding-bottom: 20px;
}

.cont-projects-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.cont-img-project a {
    width: 350px;
    height: 240px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 25px;
    text-decoration: none;
    color: white;
    background-color: rgb(24, 24, 44);
    border: 1px dashed var(--color1);
}

.cont-img-project img {
    width: 80%;
    height: 70%;
    border-radius: 20px;
}

.cont-img-project:nth-child(odd) a:hover {
    box-shadow: 0px 0px 15px 4px var(--color2);
    text-shadow: 6px 6px 8px var(--color1);
}

.cont-img-project:nth-child(odd) p:active {
    box-shadow: 6px 6px 8px var(--color2);
}

.cont-img-project:nth-child(even) a:hover {
    box-shadow: 0px 0px 15px 4px var(--color1);
    text-shadow: 6px 6px 8px var(--color2);
}

.cont-img-project:nth-child(odd) p:active {
    box-shadow: 6px 6px 8px var(--color1);
}

/* contact section */

.contact-section {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(248, 246, 246);
    padding-bottom: 50px;
}

.cont-contact {
    width: 80%;
    display: flex;
    gap: 25px;
    border: 1px solid var(--color1);
    border-radius: 25px;
    padding: 25px;
    margin-top: 100px;
    background-color: rgb(236, 234, 234);
}

.cont-contact-info {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 50%;
}

.cont-contact h2 {
    font-size: 200%;
}

.cont-contact p {
    width: 80%;
}

.cont-social-media-links li {
    list-style: none;
}

.cont-social-media-links a {
    text-decoration: none;
    padding: 15px;
    color: gray;
}

.cont-social-media-links a:hover {
    color: black;
}

.cont-social-media-links i {
    background-color: var(--color1);
    border-radius: 47%;
    font-size: 150%;
    padding: 8px;
    margin: 10px;
    color: white;
}

.cont-social-media-links i:hover {
    background-color: white;
    border-radius: 47%;
    font-size: 150%;
    padding: 8px;
    margin: 10px;
    color: var(--color1);
}

.cont-write-me-form {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.cont-write-me-form h2 {
    text-align: start;
    padding-bottom: 30px;
}

.form {
    display: flex;
    gap: 20px;
}

.cont-write-me-form p {
    padding: 15px 0px;
}

.style-form {
    border: 0;
    padding: 15px;
    border-radius: 15px;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    outline: transparent;
}

input[type=email] {
    width: 85%;
}

textarea {
    width: 85%;
}

.style-form:hover {
    border: 1px solid var(--color1);
}

.style-form:focus {
    box-shadow: 0 0 15px 4px var(--color1);
}

.send {
    background-color: rgb(250, 250, 240);
    border-radius: 50px;
    border-style: none;
    padding: 10px;
    margin: 15px 0px;
    width: 150px;
    text-align: center;
    color: white;
    font-size: 20px;
    background-color: var(--color1);
    position: relative;
}

.send::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    border-radius: 20px;
    transform: translateY(7px);
    background-color: rgb(128, 107, 128);
}

.send:active{
    transform: translateY(5px);
}

.send:active::before{
    transform: translateY(0);
}

.send:hover {
    color: white;
    font-weight: bold;
}

/* footer section */

.footer {
    min-height: 40vh;
    background-color: var(--color2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-nav ul {
    display: flex;
    list-style: none;
    gap: 25px;
    text-transform: uppercase;
    padding: 15px;
}

.footer-nav ul li a {
    text-decoration: none;
    color: rgb(70, 68, 68);
}

.footer-nav a:hover {
    color: white;
    border-bottom: 2px solid var(--color1);
    padding-bottom: 10px;
    font-weight: bold;
}

.footer p {
    font-size: 80%;
    color: rgb(85, 85, 84);
}

.footer-social-media-links {
    display: flex;
    list-style: none;
    padding: 25px;
    gap: 25px;
    font-size: 150%;
}

.footer i {
    color: rgb(162, 63, 173);
}

.footer i:hover {
    color: white;
}
    
.footer i:active {
    box-shadow: 0 0 15px 4px var(--color1);
}


/* Media Queris */

@media (max-width: 1100px) and (min-width: 730px){
    /* header */
    header nav .cont-nav-header{
        justify-content: center;
        gap: 10px;
        margin: 0;
    }
    /* knowledge */
    .cont-knowledge-items {
        gap: 10px;
        padding-bottom: 25px;
    }
    /* projects */
    .cont-projects-items {
        grid-template-columns: repeat(2, 1fr);
    }
    /* contact */
    .cont-contact {
        display: flex;
        flex-direction: column;
    }
    .cont-contact-info {
        width: 90%;
    }

}
@media (max-width: 729px) and (min-width: 480px){
    /* header */
    header{
        position: absolute;
    }
    header nav .cont-nav-header{
        margin: 0;
        justify-content: center;
        gap: 1px;
    }
    .cont-nav-header li {
    list-style: none;
    padding: 18px;
    font-size: 14px;
}
    /* hi */
    .intro-items {
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    .cont-photo img{
        display: none;
    }
    .cont-photo::after{
        background: none;
    }
    /* knowledge */
    .cont-knowledge-items {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        padding-bottom: 25px;
    }
    /* quote */
    blockquote p {
        font-size: 180%;
    }
    /* projects */
    .cont-projects-items {
        grid-template-columns: 1fr;
    }
    /* contact */
    .contact-section {
        padding-bottom: 25px;
    }
    .form {
        display: flex;
        flex-direction: column;
    }
    textarea{
        width: 80%;
    }
    .cont-contact {
        display: flex;
        flex-direction: column;
    }
    .cont-contact-info {
        width: 90%;
    }
    .cont-write-me-form {
        width: 90%;
    }
}

@media (max-width: 479px){
    /* header */
    header {
        display: none;
    }
    
    /* hi */
    .intro-items {
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    .cont-photo img{
        display: none;
    }
    .cont-photo::after{
        background: none;
    }
    /* knowledge */
    .cont-knowledge-items {
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
        padding-bottom: 25px;
    }
    /* quote */
    .quote-section {
        min-height: 50vh;
    }
    blockquote {
        width: 100%;
        padding: 10px;
    }
    blockquote p {
        font-size: 140%;
    }
    /* projects */
    .cont-projects-items {
        grid-template-columns: 1fr;
    }
    .cont-img-project a {
        width: 290px;
        height: 200px;
    }
    /* contact */
    .contact-section {
        padding-bottom: 25px;
    }
    .form {
        display: flex;
        flex-direction: column;
    }
    textarea{
        width: 80%;
    }
    .cont-contact {
        display: flex;
        flex-direction: column;
    }
    .cont-contact-info {
        width: 100%;
    }
    .cont-social-media-links a {
        padding: 0;
    }
    .cont-social-media-links ul li:last-child{
        font-size: 11px;
    }
    .cont-write-me-form {
        width: 90%;
    }
    /* footer */
    .footer-nav ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        text-align: center;
    }
}